@model IEnumerable<colectare_date.ViewModels.CetateanCuPubeleViewModel>
@{
    ViewData["Title"] = "Lista Cetatenilor";
}

<h2>LISTA CETATENILOR</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nume</th>
            <th>Prenume</th>
            <th>Email</th>
            <th>CNP</th>
            <th>Pubele Atribuite </th>
            <th>Actiuni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Cetatean" asp-action="Colectari" asp-route-id="@item.Cetatean.Id">
                            @item.Cetatean.Nume
                    </a>
                </td>
                <td>
                    <a asp-controller="Cetatean" asp-action="Colectari" asp-route-id="@item.Cetatean.Id">
                        @item.Cetatean.Prenume
                    </a>
                </td>
                <td>@item.Cetatean.Email</td>
                <td>@item.Cetatean.CNP</td>
                <td>
                    @if (item.Atribuiri != null && item.Atribuiri.Any())
                    {
                        <ul>
                            @foreach (var p in item.Atribuiri)
                            {
                                @p.PubelaId
                            }
                        </ul>
                    }
                    else
                    {
                        <span>Nicio pubela atribuita</span>
                    }
                </td>
                <td>
                    <form asp-action="Sterge" asp-route-id="@item.Cetatean.Id" method="post" onsubmit="return confirm('Esti sigur ca vrei sa stergi acest cetaten?');">
                        <button type="submit" class="btn btn-danger btn-sm">Sterge</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
